<section class="card">
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo consequatur perferendis aliquid veniam nostrum ipsam ducimus officiis fuga fugit nemo.</p>
    </div>
</section>