
<div class="jumbotron mt-4">
    <h1 class="display-4"> Unbalanced FTTx </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, repudiandae laudantium. Magnam quis veniam adipisci.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quos officiis ipsa qui tempora velit alias quam commodi similique! Culpa.</p>
    
</div>